.btn {
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 4px 0;
    font-weight: 300;
    font-size: 14px;
}

.btn-submit {
    background-color: firebrick;  
    color: white;
    align-self: flex-end;
    width: 120px;
}

.btn-facebook {
    background-color: navy;
    color: white;
}

.btn-google {
    border: 1px solid ghostwhite;
}
.btn-only-text {
    background-color: transparent;
    color: darkred;
    font-weight: 300;
    cursor: pointer;
}