p {
    margin: 0;
}

input[type=checkbox] {
    margin-right: 12px;
}

hr {
    border-color: lightgrey;
    border-width: 0.6px;
}

.task-container {
    display: flex;
    margin-bottom: 12px;
    margin-top: 12px;
    justify-content: space-between;
    min-height: 50px;
}

.task-name {
    font-size: 16px;
    font-weight: 400;
    color: darkblue;
}

.task-date {
    font-size: 12px;
    font-weight: 200;
    color: darkgray;
    margin-left: 28px;
}

.task-image {
    max-width: 50px;
    max-height: 50px;
    margin: 0 12px;
    border-radius: 6px;
}